<p id="notice"><%= notice %></p>

<%= render "navigation/calendar", :show_see_all_events => false, :see_all_events_link => '/events/', :show_months => false, :show_add_an_event => false %>

<div class="body--new-user">
    <h3>SIGN UP</h3>
    <%= render 'form' %>
</div>
