.events--add {
    padding-bottom: 3rem;
}

.event--add {
    max-width: 600px;
    margin: 0 auto;
}

form {
    width: 50%;
    margin: 1rem auto
}

.add--heading {
    @include flexbox();
    @include flexbox-align-items(center);
    width: 50%;
    margin: 1rem auto;
    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0;
    }
}