.events--band-container {
    .events--band {
        margin: 3.5rem auto 0 auto;
        max-width: 600px;
        width: 90%;
        .band--name {
            margin-bottom: 1rem;
        }
    }
    .events--list {
        width: 90%;
        margin: 0 auto 3.5rem auto;
    }
    .links--address {
        @include flexbox();
        @include flexbox-align-items(center);
        border-bottom: .2rem solid #cccccc;
        .address--icon {
            padding: 1rem;
            width: 80px;
            margin-right: 1rem;
            border-right: .2rem solid #cccccc;
        }
    }
    .band--video {
        margin-top: 1rem;
    }
    .band--links {
        background-color: $siteCalendarGrey;
        margin: 1rem 0;
    }
    .links--website {
        @include flexbox();
        @include flexbox-align-items(center);
        border-bottom: .2rem solid #cccccc;
        .website--icon {
            padding: 1rem;
            width: 80px;
            margin-right: 1rem;
            border-right: .2rem solid #cccccc;
        }
    }
    .band--name {
        margin-bottom: 1rem;
        h2 {
            color: $siteBlack;
        }
    }
}

@media only screen and (min-width: $smallTabletBreakpoint) {
    .events--band-container {
        @include flexbox();
        padding: 0 1rem;
        .events--band {
            width: 50%;
            margin: 3.5rem auto;
        }
        .events--list {
            width: 50%;
            margin: 3.5rem auto;
        }
    }
}