.navigation--months {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    width: 21rem;
    height: 50px;
    text-align: center;
    .months--current {
        position: relative;
        background-color: $black;
        height: 50px;
        .current--text {
            @include transform-translate(0, -50%);
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .months--month {
        position: relative;
        width: 7rem;
        height: 50px;
    }
    .months--month,
    .months--month a {
        color: $white;
        font-size: (20rem/16);
        font-weight: 300;
    }
    .months--month a {
        @include transform-translate(0, -50%);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.events--tags {
    @include flexbox();
    @include flexbox-align-items(center);
    max-width: 600px;
    margin: 2rem auto;
    width: 90%;
    text-align: center;
    .tags--filter {
        text-transform: uppercase;
        width: 4rem;
        font-weight: 400;
    }
    .tags--tag {
        padding: .5rem 1rem;
        margin-right: .5rem;
        background-color: $siteGrey;
        width: 5rem;
        a {
            color: $white;
        }
    }
}

.body--events {
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }
    h2 {
        font-weight: bold;
        color: $white;
    }
    h3 {
        font-weight: bold;
    }
    p {
        color: $siteBlack;
    }
    hr {
        height: 5px;
        background-color: rgba(0,0,0,.2);
    }
}

.events--month {
    max-width: 600px;
    width: 90%;
    margin: 55px auto 106px auto;
    &.fixed {
        margin: 106px auto 106px auto;
    }
    .month--day {
        @include flexbox();
        @include flexbox-align-items(flex-start);
        margin: 0 auto 3rem auto;
        border-left: 4rem solid $siteCalendarGrey;
        position: relative;
        .day--number {
            width: 4rem;
            text-align: center;
            position: absolute;
            top: 1rem;
            left: -4rem;
        }
        .day--info {
            width: 100%;
        }
        .info--empty,
        .info--bands,
        .info--venue {
            .bands--headliner {
                @include flexbox();
                @include flexbox-align-items(center);
                @include flexbox-justify-content(space-between);
            }
            .bands--name {
                padding: .5rem 1rem;
                h3 {
                    color: $white;
                    font-weight: 400;
                }
            }
        }
        .info--venue {
            a {
                padding: 1rem;
                @include flexbox();
                @include flexbox-align-items(center);
                @include flexbox-justify-content(space-between);
            }
        }
        .info--empty {
            background-color: $bandBackgroundGrey;
        }
        .info--bands {
            position: relative;
            background-color: $bandBackgroundGrey;
            background-size: 100%;
            background-position: 0% 40%;
            .bands--name,
            .bands--headliner,
            .bands--link {
                padding: 1rem;
                position: relative;
                z-index: 100;
            }
            .headliner--name {
                padding-right: .5rem;
            }
            .bands--overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .7);
            }
            .headliner--arrow {
                width: 1rem;
            }
        }
        .info--venue {
            background-color: $siteCalendarGrey;
            .venue--title {
                padding-right: .5rem;
            }
            .venue--arrow {
                width: 1rem;
            }
        }
        .info--time {
            @include flexbox();
            @include flexbox-align-items(center);
            @include flexbox-justify-content(space-between);
            position: relative;
            background-color: $timeBackgroundGrey;
            .time--time {
                padding-left: 1rem;
            }
            .time--share {
                padding: 1rem 2rem;
                cursor: pointer;
                background-color: $siteGrey;
                text-align: center;
                color: $white;
            }
        }
        .info--container {
            margin-bottom: 2rem;
        }
        .info--container:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
    
    .month--empty {
        .empty--container {
            margin: 0 auto;
            background-color: $siteCalendarGrey;
            padding: 1rem 3rem;
            text-align: center;
        }
        .empty--add {
            padding: 1rem;
            background-color: $siteBlack;
            color: $white;
            width: 10rem;
            margin: 0 auto;
        }
    }
}