.events--event-container {
    
}

.bootstrap-datetimepicker-widget {
    .row {
        .timepicker {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 15px;
            margin: 20px 0;
        }
    }
}

.field .bootstrap-datetimepicker-widget table td, 
.field .bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: 0px;
}

.field .bootstrap-datetimepicker-widget table td span.active {
    background-color: $siteRed;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.field td {
    border: 0;
}

#datetimepicker12 {
    display: none;
}

.field .bootstrap-datetimepicker-widget table td span {
    width: 25%;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.field .bootstrap-datetimepicker-widget table td {
    height: 54px;
    line-height: 54px;
    width: 30px;
}

.event-date-label {
    border-bottom: 1px solid #1e2626;
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    display: block;
}

input[type="text"], 
input[type="date"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="url"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="file"], 
input[type="password"], 
select, 
textarea, 
.textbox {
    width: 100%;
}

.field .bootstrap-datetimepicker-widget table td.separator {
    width: 10px;
}

.field .bootstrap-datetimepicker-widget table td.active, 
.field .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: $siteRed;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.glyphicon-chevron-left:before {
    content: "◀";
}

.glyphicon-chevron-right:before {
    content: "▶";
}

.glyphicon-chevron-up:before {
    content: "▲";
}

.glyphicon-chevron-down:before {
    content: "▼";
}

@media only screen and (min-width: $smallTabletBreakpoint) {
    .events--event-container {
        @include flexbox();
        padding: 0 1rem;
        .events--info {
            width: 50%;
            margin: 3.5rem auto;
        }
        .events--list {
            width: 50%;
            margin: 3.5rem auto;
        }
    }
}