body {
    margin-top: 126px;
}

.wrapper {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
}

hr {
    background-color: $siteBlack;
    margin-top: 0;
    height: 2px;
}

body > div {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

a,
a:visited,
a:hover {
    color: $siteBlack;
}

.body--events h2 {
    font-size: (24rem/16);
}

.body--events h3 {
    font-size: (24rem/16);
}

.body--events h4 {
    font-size: (20rem/16);
}

@media only screen and (min-width: $smallTabletBreakpoint) {
    .body--events h2 {
        font-size: (40rem/16);
    }
}
