.gigs--loading {
    @include animation('hide 1.5s 1 2s forwards');
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    z-index: 100;
    background-color: $white;
}

.gigs--posters {
    position: absolute;
    height: 85%;
    width: 100%;
    top: 15%;
    left: 0;
    z-index: -10;
    background-color: $siteGrey;
    .posters--repost {
        position: fixed;
        top: 50%;
        right: 0;
        width: 100px;
        opacity: .8;
        transition-duration: .25s;
        z-index: 99999;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .posters--event {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 80%;
        width: 30%;
        min-width: 320px;
        transition-duration: .35s;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .event--image {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            width: auto;
            height: 100%;
            margin: 0 auto;
        }
    }
    .posters--event:nth-child(3n) {
        -webkit-transform: translate(0, -50%) rotate(1deg);
        -moz-transform: translate(0, -50%) rotate(1deg);
        -ms-transform: translate(0, -50%) rotate(1deg);
        -o-transform: translate(0, -50%) rotate(1deg);
        transform: translate(0, -50%) rotate(1deg);
        -webkit-backface-visibility: hidden;
        &.hide {
            -webkit-transform: translate(0, -80%);
            -moz-transform: translate(0, -80%);
            -ms-transform: translate(0, -80%);
            -o-transform: translate(0, -80%);
            transform: translate(0, -80%);
            top: 0;
        }
        .event--repost {
            -webkit-transform: translate(50%, -50%);
            -moz-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
            -o-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
        }
    }
    .posters--event:nth-child(3n+1) {
        -webkit-transform: translate(0, -50%) rotate(-2deg);
        -moz-transform: translate(0, -50%) rotate(-2deg);
        -ms-transform: translate(0, -50%) rotate(-2deg);
        -o-transform: translate(0, -50%) rotate(-2deg);
        transform: translate(0, -50%) rotate(-2deg);
        -webkit-backface-visibility: hidden;
        &.hide {
            -webkit-transform: translate(0, -80%);
            -moz-transform: translate(0, -80%);
            -ms-transform: translate(0, -80%);
            -o-transform: translate(0, -80%);
            transform: translate(0, -80%);
            top: 0;
        }
        .event--repost {
            -webkit-transform: translate(50%, -50%);
            -moz-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
            -o-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
        }
    }
    .posters--event:nth-child(3n+2) {
        -webkit-transform: translate(0, -50%)  rotate(1.5deg);
        -moz-transform: translate(0, -50%)  rotate(1.5deg);
        -ms-transform: translate(0, -50%)  rotate(1.5deg);
        -o-transform: translate(0, -50%)  rotate(1.5deg);
        transform: translate(0, -50%)  rotate(1.5deg);
        -webkit-backface-visibility: hidden;
        &.hide {
            -webkit-transform: translate(0, -80%);
            -moz-transform: translate(0, -80%);
            -ms-transform: translate(0, -80%);
            -o-transform: translate(0, -80%);
            transform: translate(0, -80%);
            top: 0;
        }
        .event--repost {
            -webkit-transform: translate(50%, -50%);
            -moz-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
            -o-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
        }
    }
}

.loading--graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: image-url('loading.png');
    background-size: cover;
    background-position: 50% 90%;
    z-index: 0;
}

.loading--message {
    @include animation('hide-loading 1.5s 2s forwards');
    position: absolute;
    bottom: 2.5%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.message--indicator {
    @include animation('hide-loading 1.5s 2s forwards');
    img {
        @include animation('rotate 1.5s infinite linear');
        width: 40px;
        display: block;
        margin: 0 auto;
    }
}

@include keyframes(rotate) {
    0%   { @include transform-rotate(0); }
    100% { @include transform-rotate(360); }
}

@include keyframes(hide) {
    0%   { top: 0; }
    100% { top: -100%; }
}