.body--header {
    padding: 1rem;
    background-color: $white;
}

.gigs {
    .body--header {
        @include animation('show 1.5s 1 2s forwards');
        position: absolute;
        width: 100%;
        height: 15%;
        top: 100%;
        left: 0;
    }
}

.header--container {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    max-width: 1000px;
    margin: 0 auto;
}

.header--logo {
    max-width: 250px;
}

.header--social {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    width: 5.5rem;
    a {
        width: 2.25rem;
    }
}

@include keyframes(show) {
    0%   { top: 100%; }
    100% { top: 0; }
}
