.body--header {
    padding: 1rem;
    background-color: $white;
    position: relative;
    width: 100%;
    z-index: 200;
    &.fixed {
        margin-bottom: 55px;
    }
}

.header--container {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
}

.header--logo {
    max-width: 250px;
}

.header--social {
    display: none;
    width: 2.25rem;
    a {
        width: 2.25rem;
    }
}

@media only screen and (min-width: 380px) {
    .header--social {
        @include flexbox();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(space-between);
    }
}
