.body--header {
    padding: 1rem;
    background-color: $white;
    position: relative;
    width: 100%;
    z-index: 200;
    &.fixed {
        margin-bottom: 51px;
    }
}

.header--container {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
}

.header--logo {
    width: 200px;
}

.header--social {
    width: 3.5rem;
    a {
        width: 1.5rem;
    }
}

@media only screen and (min-width: 380px) {
    .header--logo {
        width: 250px;
    }
    
    .header--social {
        @include flexbox();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(space-between);
        width: 4.5rem;
        a {
            width: 2rem;
        }
    }
}
