.events--venue-container {
    .events--venue {
        margin: 3.5rem auto 0 auto;
        width: 90%;
        max-width: 600px;
    }
    .events--list {
        margin: 3.5rem auto;
        width: 90%;
    }
    .links--address {
        @include flexbox();
        @include flexbox-align-items(center);
        border-bottom: .2rem solid #cccccc;
        .address--icon {
            padding: 1rem;
            width: 80px;
            margin-right: 1rem;
            border-right: .2rem solid #cccccc;
        }
    }
    .venue--links {
        background-color: $siteCalendarGrey;
        margin: 1rem 0;
    }
    .links--website {
        @include flexbox();
        @include flexbox-align-items(center);
        border-bottom: .2rem solid #cccccc;
        .website--icon {
            padding: 1rem;
            width: 80px;
            margin-right: 1rem;
            border-right: .2rem solid #cccccc;
        }
    }
    .venue--name {
        h2 {
            color: $siteBlack;
        }
    }
    .venue--description {
        margin-top  : 1rem;
    }
}

@media only screen and (min-width: $smallTabletBreakpoint) {
    .events--venue-container {
        @include flexbox();
        padding: 0 1rem;
        .events--venue {
            width: 50%;
            margin: 3.5rem auto;
        }
        .events--list {
            width: 50%;
            margin: 3.5rem auto;
        }
    }
}
