<div class="body--events">
    <%= render "navigation/add" %>
    <div class="events--add">
        <div class="add--container">
            <div class="container--padding">
                <div class="add--heading">
                    <h1>EDIT EVENT</h1>
                </div>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>