<div class="gigs--posters">
    <div class="posters--repost">
        <%= image_tag 'repost_2x.png', alt: 'repost' %>
    </div>
    <% @gigs.each_with_index do |gig, index| %>
        <% if index == (@gigs.count - 1) %>
            <div class="posters--event top">
                <%= image_tag gig.poster.url(:retina), class: 'event--image' %>
            </div>
        <% else %>
            <div class="posters--event">
                <%= image_tag gig.poster.url(:retina), class: 'event--image' %>
            </div>
        <% end %>
    <% end %>
</div>
<script>
    $('.event--image').each(function(){
        var src = $(this).attr('src');
        $(this).parent().css('background-image', 'url(' + src + ')');
    });
</script>