<div class="gigs--loading">
    <div class="loading--graphic">
    </div>
    <div class="loading--message">
        <p>
            Whether you decide by the poster, venue or performer,<br>
            <strong>The Gigs Up helps find the local concerts you wanna go to.</strong>
        </p>
        <div class="message--indicator">
            <%= image_tag('loading-indicator.png') %>
        </div>
    </div>
</div>
<div class="gigs--posters">
    <% @gigs.each_with_index do |gig, index| %>
        <% if index == (@gigs.count - 1) %>
            <div class="posters--event top">
                <%= image_tag gig.poster.url(:retina), class: 'event--image' %>
            </div>
        <% else %>
            <div class="posters--event">
                <%= image_tag gig.poster.url(:retina), class: 'event--image' %>
            </div>
        <% end %>
    <% end %>
</div>
<script>
    $('.event--image').each(function(){
        var src = $(this).attr('src');
        $(this).parent().css('background-image', 'url(' + src + ')');
    });
</script>