<div class="gigs--loading">
    <div class="loading--graphic">
    </div>
    <div class="loading--message">
        <p>
            Whether you decide by the poster, venue or performer,<br>
            <strong>The Gigs Up helps find the local concerts you wanna go to.</strong>
        </p>
        <div class="message--indicator">
            <%= image_tag('loading-indicator.png') %>
        </div>
    </div>
</div>
<div class="gigs--posters">
    <% @gigs.each_with_index do |gig, index| %>
        <% if index == (@gigs.count - 1) %>
            <div class="posters--event top">
                <div class="event--overlay">
                    
                </div>
                <%= image_tag gig.poster.url(:retina) %>
            </div>
        <% else %>
            <div class="posters--event">
                <div class="event--overlay">
                    
                </div>
                <%= image_tag gig.poster.url(:retina) %>
            </div>
        <% end %>
    <% end %>
</div>