<div class="event--add">
    <div class="add--container">
        <div class="container--padding">
            <div class="add--heading">
                <h1>ADD EVENT</h1>
            </div>
            <%= render 'form' %>
        </div>
    </div>
</div>