<div class="body--events">
    <%= render "navigation/calendar", :show_see_all_events => true, :see_all_events_link => '/events/', :show_months => false, :show_add_an_event => true %>
    <div class="events--event-container">
        <% if @event.poster.url != "/posters/original/missing.png" %>
            <div class="events--info">
                <%= image_tag @event.poster.url(:retina) %>
            <% else %>
            <div class="events--info" style="width: 0; margin: 0;">
            <% end %>
        </div>
        <% if @event.poster.url != "/posters/original/missing.png" %>
            <section class="events--month">
        <% else %>
            <section class="events--month" style="margin: 3.5rem auto">
        <% end %>
            <div class="month--name">
                <h2><%= @event.start.strftime("%B") %></h2>
            </div>
            <%= render "event", :individual => true %>
        </section>
    </div>
</div>
