<div class="body--events">
    <%= render "navigation/calendar", 
        :link => '/events/', 
        :show_see_all_events => false, 
        :show_months => true, 
        :show_add_an_event => false 
    %>
    <section class="events--month">
        <% if @dates.count == 0 %>
            <div class="list--empty">
                <div class="empty--container">
                    <div class="empty--message">
                        <h4>No events are listed in <%= @month.strftime("%B") %>.</h4>
                    </div>
                    <a href="/events/new">
                        <div class="empty--add">
                            Add an event
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
        <% previous_date = false %>
        <% bands = Band.all.select { |band| band.tags.include? @tag } %>
        <% events = [] %>
        <% bands.each do |band| %>
            <% band.events.each do |event| %>
                <% if events.include? event == false %>
                    <% events.push(event) %>
                <% end %>
            <% end %>
        <% end %>
        <% @dates.each_with_index do |date, index| %>
            <%= render "event", :tags => true, :individual => false, :date => date, :event_scope => events, :index => index, :previous_date => previous_date %>
            <% previous_date = date %>
        <% end %>
    </section>
</div>
