<nav class="events--navigation">
    <div class="navigation--back-space">
        
    </div>
    <div class="navigation--months">
        
    </div>
    <div class="navigation--border">
    </div>
</nav>