<nav class="events--navigation">
    <a href="/events">
        <div class="navigation--back">
            <div class="back--arrow">
                <%= image_tag('white-arrow.png') %>
            </div>
            <div class="back--text">
                See all events
            </div>
        </div>
    </a>
    <div class="navigation--months">
        
    </div>
    <div class="navigation--add">
        <a href="/events/new">
            <div class="add--text">
                Add an event
            </div>
            <div class="add--plus">
                <%= image_tag('white-plus.png') %>
            </div>
        </a>
    </div>
</nav>